body{
    font-size: 1.1em;
    font-weight: bold;
    background-color: lightgray;
    text-align: center
}
.input{
    background-color: darkgoldenrod;
    padding: 0.2em;
    color: white;
}
.button{
    padding-right: 2em;
    padding-left: 2em;
    font-size: 0.9em;
    background-color: burlywood;
    color: brown;
    transition: 0.5s;
}
.button:hover{
    padding-right: 2.5em;
    cursor: pointer;
    background-color: brown;
    color: white;
}
.content{
    margin-top: 1em;
    width: 22em;
    height: 8em;
    overflow: auto;
    border: solid 2px brown;
    background-color: burlywood;
    border-radius: 0em 1em 0em 1em;
    margin: 0 auto;
    margin-top: 1em;
}